.dots span {
  animation: wave 1.5s infinite;
  opacity: 0;
  animation-fill-mode: forwards;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.dots-large span {
  animation: wave 1.5s infinite;
  opacity: 0;
  animation-fill-mode: forwards;
  display: inline-block;
  font-size: 28px;
  line-height: 1;
}

.dots-large span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots-large span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
